{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1 style="text-align: center">{{ article.title }}</h1>
    <p>{{ article.content }}</p>
{% endblock %}